<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kotlin Study</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top p-0 m-0">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-light bg-light">
                <span id="serverStatus">Status : <span th:classappend="${serverStatus eq 'RUNNING' ? 'badge-success' : 'badge-danger'}" class="badge status-text"
                                                       th:text="${serverStatus}"></span></span>
                <form id="globalSettingForm" class="form-inline" method="post" action="" accept-charset="UTF-8">
                    <div class="form-group mr-2">
                        <button class="btn btn-outline-success" type="button" onclick="setInterval()">반복주기저장</button>
                        <span class="ml-2 mr-1">반복주기</span>
                        <input id="interval" name="interval" class="form-control" style="width:100px;" type="number" min="10" step="10" placeholder="Search" aria-label="Search"
                               th:value="${interval}">초
                    </div>
                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="On Off">
                            <button id="onButton" name="onOff" value="ON" type="button" class="btn" th:classappend="${onOff eq 'ON' ? 'btn-success' : 'btn-secondary'}"
                                    onclick="setServerOnOff('ON')">서버실행
                            </button>
                            <button id="offButton" name="onOff" value="OFF" type="button" class="btn" th:classappend="${onOff eq 'OFF' ? 'btn-danger' : 'btn-secondary'}"
                                    onclick="setServerOnOff('OFF')">서버중지
                            </button>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row mt-3 mb-2">
        <div class="col-lg-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">발송 닉네임</span>
                </div>
                <input id="senderNick" name="senderNick" type="text" class="form-control" aria-label="SenderNick" aria-describedby="basic-sender-nick" th:value="${senderNick}">
                <button class="btn btn-success" onclick="setUserInfo()">저장</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">토큰</span>
                </div>
                <input id="accessToken" readonly name="token" type="text" style="font-size: 11px; height: 38px;" class="form-control" aria-label="Token" aria-describedby="basic-token" th:value="${accessToken}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center mt-2">
            <div class="card">
                <div class="card-header">
                    Message setting
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">메시지 제목</span>
                                </div>
                                <input name="title" type="text" class="form-control" aria-label="Title" th:value="${countMessageTitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">메시지 본문</span>
                                </div>
                                <textarea name="message" class="form-control" aria-label="Message" style="height:150px;">[[${countMessage}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">수신 제외<br />닉네임 목록</span>
                                </div>
                                <textarea id="countMessageExcludeNickList" name="excludeNickList" class="form-control" aria-label="ExcludeList" style="height:92px;">[[${countMessageExcludeNickList}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-count">횟수</span>
                                </div>
                                <input name="propertyValue" type="text" class="form-control" aria-label="Count" aria-describedby="basic-count" th:value="${countProperty}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">기준일</span>
                                </div>
                                <input id="countMessageDayBefore" name="messageDayBefore" type="number" min="1" max="60" step="1" class="form-control" aria-label="DayBefore"
                                       aria-describedby="basic-day-before"
                                       th:value="${countMessageDayBefore}">
                                <div class="btn-group ml-1" role="group" aria-label="On Off">
                                    <button id="onCountMessageButton" value="ON" type="button" class="btn"
                                            th:classappend="${onCountMessageOff eq 'ON' ? 'btn-success' : 'btn-secondary'}"
                                            onclick="setOnOffCountMessage('ON')">실행
                                    </button>
                                    <button id="offCountMessageButton" value="OFF" type="button" class="btn"
                                            th:classappend="${onCountMessageOff eq 'OFF' ? 'btn-danger' : 'btn-secondary'}"
                                            onclick="setOnOffCountMessage('OFF')">중지
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input id="onOffCountMessage" type="hidden" name="onOffMessage" th:value="${onCountMessageOff}"/>
                        <input name="messageId" type="hidden" th:value="${countMessageId}">
                        <input name="propertyType" type="hidden" value="COUNT">
                        <button type="button" class="btn btn-primary" onclick="onSubmitMessageForm(this)">COUNT 메시지 설정 저장</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center mt-2">
            <div class="card">
                <div class="card-header">
                    Message setting
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">메시지 제목</span>
                                </div>
                                <input name="title" type="text" class="form-control" aria-label="Title" th:value="${moneyMessageTitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">메시지 본문</span>
                                </div>
                                <textarea name="message" class="form-control" aria-label="Message" style="height:150px;">[[${moneyMessage}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">수신 제외<br />닉네임 목록</span>
                                </div>
                                <textarea id="moneyMessageExcludeNickList" name="excludeNickList" class="form-control" aria-label="ExcludeList" style="height:92px;">[[${moneyMessageExcludeNickList}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-money">금액(₩)</span>
                                </div>
                                <input id="moneyPropertyValue" name="propertyValue" type="text" class="form-control" aria-label="Count" aria-describedby="basic-money"
                                       th:value="${moneyProperty}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">기준일</span>
                                </div>
                                <input id="moneyMessageDayBefore" name="messageDayBefore" type="number" min="1" max="60" step="1" class="form-control" aria-label="DayBefore"
                                       aria-describedby="basic-day-before"
                                       th:value="${moneyMessageDayBefore}">
                                <div class="ml-1 btn-group" role="group" aria-label="On Off">
                                    <button id="onMoneyMessageButton" value="ON" type="button" class="btn"
                                            th:classappend="${onMoneyMessageOff eq 'ON' ? 'btn-success' : 'btn-secondary'}"
                                            onclick="setOnOffMoneyMessage('ON')">실행
                                    </button>
                                    <button id="offMoneyMessageButton" value="OFF" type="button" class="btn"
                                            th:classappend="${onMoneyMessageOff eq 'OFF' ? 'btn-danger' : 'btn-secondary'}"
                                            onclick="setOnOffMoneyMessage('OFF')">중지
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input id="onOffMoneyMessage" type="hidden" name="onOffMessage" th:value="${onMoneyMessageOff}"/>
                        <input name="messageId" type="hidden" th:value="${moneyMessageId}">
                        <input name="propertyType" type="hidden" value="MONEY">
                        <button type="button" class="btn btn-primary" onclick="onSubmitMessageForm(this)">MONEY 메시지 설정 저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>준비중입니다.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.1-lts/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.6.1/dist/js/bootstrap.min.js"></script>
<script src="/webjars/moment/2.29.1/min/moment-with-locales.min.js"></script>
<script src="/webjars/lodash/4.17.21/lodash.min.js"></script>
<script>
  let inputTimeId
  $('#moneyPropertyValue').on('input', (e) => {
    if (inputTimeId) {
      clearTimeout(inputTimeId)
    }
    inputTimeId = setTimeout(() => {
      const value = e.target.value
      if (value) {
        const inputValue = Number(value.replaceAll(',', ''))
        if (_.isNumber(inputValue) && !_.isNaN(inputValue)) {
          e.target.value = new Intl.NumberFormat('ko-KR', {}).format(inputValue)
        }
      }
    }, 100)
  })

  function changeServerStatus(response) {
    console.log('server status', response)
    const serverStatus = response.serverStatus
    const onOff = response.onOff
    const $serverStatus = $('#serverStatus')
    const $serverStatusText = $serverStatus.find('.status-text')
    $serverStatusText.text(serverStatus)
    if (serverStatus === 'RUNNING') {
      $serverStatusText.removeClass('badge-danger').addClass('badge-success')
    } else {
      $serverStatusText.removeClass('badge-success').addClass('badge-danger')
    }

    const $onButton = $('#onButton')
    const $offButton = $('#offButton')
    if (onOff === 'ON') {
      $onButton.removeClass('btn-secondary').addClass('btn-success')
      $offButton.removeClass('btn-danger').addClass('btn-secondary')
    } else if (onOff === 'OFF') {
      $offButton.removeClass('btn-secondary').addClass('btn-danger')
      $onButton.removeClass('btn-success').addClass('btn-secondary')
    }
  }

  function setInterval() {
    const $interval = $('#interval')
    const interval = $interval.val()
    if (_.isEmpty(interval)) {
      return false
    }
    $.ajax({
      url: 'setting/global/interval',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({ interval }),
      contentType: 'application/json',
    }).done((response) => {
      console.log('response', response)
      changeServerStatus(response)
      alert('반복 주기를 저장 했습니다.')
    }).fail((error) => {
      alert(JSON.stringify(error))
      console.error('global interval setting error', error)
    })

    return false
  }

  function setServerOnOff(onOff) {
    const $countMessage = $('#onOffCountMessage')
    const $moneyMessage = $('#onOffMoneyMessage')
    if ($countMessage.val() === 'OFF' && $moneyMessage.val() === 'OFF') {
      alert('메시지가 모두 OFF 상태입니다.')
      return false
    }
    $.ajax({
      url: 'setting/global/onOff',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({ onOff }),
      contentType: 'application/json',
    }).done((response) => {
        changeServerStatus(response)
        if (onOff === 'OFF') {
          alert('서버를 중지 시켰습니다.')
        } else {
          alert('서버를 실행 시켰습니다.')
        }
      },
    ).fail((error) => {
      alert(JSON.stringify(error))
      console.error('global setting error', error)
    })

    return false
  }

  function setOnOffCountMessage(onOff) {
    const $onButton = $('#onCountMessageButton')
    const $offButton = $('#offCountMessageButton')
    const $value = $('#onOffCountMessage')
    $value.val(onOff)
    if (onOff === 'ON') {
      $onButton.removeClass('btn-secondary').addClass('btn-success')
      $offButton.removeClass('btn-danger').addClass('btn-secondary')
    } else if (onOff === 'OFF') {
      $offButton.removeClass('btn-secondary').addClass('btn-danger')
      $onButton.removeClass('btn-success').addClass('btn-secondary')
    }
  }

  function setOnOffMoneyMessage(onOff) {
    const $onButton = $('#onMoneyMessageButton')
    const $offButton = $('#offMoneyMessageButton')
    const $value = $('#onOffMoneyMessage')
    $value.val(onOff)
    if (onOff === 'ON') {
      $onButton.removeClass('btn-secondary').addClass('btn-success')
      $offButton.removeClass('btn-danger').addClass('btn-secondary')
    } else if (onOff === 'OFF') {
      $offButton.removeClass('btn-secondary').addClass('btn-danger')
      $onButton.removeClass('btn-success').addClass('btn-secondary')
    }
  }

  function setUserInfo() {
    const senderNick = $('#senderNick').val()
    const token = $('#accessToken').val()
    $.ajax({
      url: 'setting/global/userInfo',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({ senderNick, token }),
      contentType: 'application/json',
    }).done((response) => {
      console.log('response', response)
      changeServerStatus(response)
      alert('닉네임과 토큰이 저장되었습니다.')
    }).fail((error) => {
      alert(JSON.stringify(error))
      console.error('global user info setting error', error)
    })
  }

  function setExcludeNickList() {
    const $elem = $('#excludeNickList')
    const nickListValue = $elem.val()
    $.ajax({
      url: 'setting/global/excludeNickList',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({
        nickList: nickListValue,
      }),
      contentType: 'application/json',
    }).done((response) => {
      console.log('ExcludeNickList setting don', response)
      $elem.val(response.nickList)
      alert('제외 목록 설정이 저장 되었습니다.')
    }).fail((error) => {
      console.error('message setting error', error)
      alert(JSON.stringify(error))
    })
  }

  function onSubmitMessageForm(buttonElem) {
    const $formElem = $(buttonElem).parent('form')[0]
    const $dayBefore = $($formElem).find('[name="messageDayBefore"]')
    const $excludeNickList = $($formElem).find('[name="excludeNickList"]')

    $.ajax({
      url: 'setting/message',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({
        title: $formElem['title'].value,
        message: $formElem['message'].value,
        onOff: $formElem['onOffMessage'].value,
        dayBefore: $dayBefore.val(),
        excludeNickList: $excludeNickList.val(),
        propertyValue: _.replace($formElem['propertyValue'].value, /\s/g, ''),
        propertyType: _.replace($formElem['propertyType'].value, /\s/g, ''),
      }),
      contentType: 'application/json',
    }).done((response) => {
      console.log('message setting don', response)
      changeServerStatus(response)
      const respExcludeNickList = response.excludeNickList
      $excludeNickList.val(respExcludeNickList)
      alert('메시지 설정이 저장 되었습니다.')
    }).fail((error) => {
      console.error('message setting error', error)
      alert(JSON.stringify(error))
    })

    return false
  }
</script>
</body>
</html>
