<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kotlin Study</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/dist/css/bootstrap.min.css">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-light bg-light">
                <span id="serverStatus" th:if="${serverStatus eq 'RUNNING'}">Status : <span class="badge badge-success">RUNNING</span></span>
                <span id="serverStatus" th:if="${serverStatus eq 'STOP'}">Status : <span class="badge badge-danger">STOP</span></span>
                <form id="globalSettingForm" class="form-inline" method="post" action="globalSetting" accept-charset="UTF-8">
                    <div class="form-group mr-2">
                        <button class="btn btn-outline-success" type="button" onclick="setInterval()">Apply</button>
                        <input id="interval" name="interval" class="form-control" style="width:80px;" type="number" min="60" step="10" placeholder="Search" aria-label="Search"
                               th:value="${interval}">
                    </div>
                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="On Off">
                            <button id="onButton" name="onOff" value="ON" type="button" class="btn" th:classappend="${onOff eq 'ON' ? 'btn-success' : 'btn-secondary'}"
                                    onclick="setOnOff('ON')">ON
                            </button>
                            <button id="offButton" name="onOff" value="OFF" type="button" class="btn" th:classappend="${onOff eq 'OFF' ? 'btn-danger' : 'btn-secondary'}"
                                    onclick="setOnOff('OFF')">OFF
                            </button>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-lg-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ID</span>
                </div>
                <input id="senderId" name="senderId" type="text" class="form-control" aria-label="SenderId" aria-describedby="basic-sender-id" th:value="${senderId}">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Token</span>
                </div>
                <input id="accessToken" name="token" type="text" class="form-control" aria-label="Token" aria-describedby="basic-token" th:value="${accessToken}">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Day</span>
                </div>
                <input id="dayBefore" name="token" type="number" min="1" max="60" step="1" class="form-control" aria-label="DayBefore" aria-describedby="basic-day-before"
                       th:value="${dayBefore}">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center">
                <button class="btn btn-success" onclick="setUserInfo()">SAVE</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center mt-2">
            <div class="card">
                <div class="card-header">Message setting</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Title</span>
                                </div>
                                <input name="title" type="text" class="form-control" aria-label="Title" th:value="${countMessageTitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Message</span>
                                </div>
                                <textarea name="message" class="form-control" aria-label="Message" style="height:150px;">[[${countMessage}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-count">Count</span>
                                </div>
                                <input name="propertyValue" type="text" class="form-control" aria-label="Count" aria-describedby="basic-count" th:value="${countProperty}">
                            </div>
                        </div>
                        <input name="messageId" type="hidden" th:value="${countMessageId}">
                        <input name="propertyType" type="hidden" value="COUNT">
                        <button type="button" class="btn btn-primary" onclick="onSubmitMessageForm(this)">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center mt-2">
            <div class="card">
                <div class="card-header">Message setting</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Title</span>
                                </div>
                                <input name="title" type="text" class="form-control" aria-label="Title" th:value="${moneyMessageTitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Message</span>
                                </div>
                                <textarea name="message" class="form-control" aria-label="Message" style="height:150px;">[[${moneyMessage}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-money">Money</span>
                                </div>
                                <input name="propertyValue" type="text" class="form-control" aria-label="Count" aria-describedby="basic-money" th:value="${moneyProperty}">
                            </div>
                        </div>
                        <input name="messageId" type="hidden" th:value="${moneyMessageId}">
                        <input name="propertyType" type="hidden" value="MONEY">
                        <button type="button" class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" onclick="onSubmitMessageForm(this)">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>준비중입니다.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/dist/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.1-lts/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/dist/js/bootstrap.min.js"></script>
<script src="/webjars/moment/2.26.0/min/moment-with-locales.min.js"></script>
<script src="/webjars/lodash/4.17.15/lodash.min.js"></script>
<script>
  function changeServerStatus(serverStatus) {
    console.log('server status')
    const $serverStatus = $('#serverStatus')
    const $serverStatusText = $serverStatus.find('.badge')
    $serverStatusText.text(serverStatus)
    if (serverStatus === 'RUNNING') {
      $serverStatusText.removeClass('badge-danger').addClass('badge-success')
    } else {
      $serverStatusText.removeClass('badge-success').addClass('badge-danger')
    }
  }

  function setInterval() {
    const $interval = $('#interval')
    const interval = $interval.val()
    if (_.isEmpty(interval)) {
      return false
    }
    $.ajax({
      url: 'setting/global/interval',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({ interval }),
      contentType: 'application/json',
    }).done((response) => {
      console.log('response', response)
      const serverStatus = response.serverStatus
      changeServerStatus(serverStatus)
    }).fail((error) => {
      alert(JSON.stringify(error))
      console.error('global interval setting error', error)
    })

    return false
  }

  function setOnOff(onOff) {
    $.ajax({
      url: 'setting/global/onOff',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({ onOff }),
      contentType: 'application/json',
    }).done((response) => {
        const serverStatus = response.serverStatus
        changeServerStatus(serverStatus)
        const $onButton = $('#onButton')
        const $offButton = $('#offButton')
        if (onOff === 'ON') {
          $onButton.removeClass('btn-secondary').addClass('btn-success')
          $offButton.removeClass('btn-danger').addClass('btn-secondary')
        } else if (onOff === 'OFF') {
          $offButton.removeClass('btn-secondary').addClass('btn-danger')
          $onButton.removeClass('btn-success').addClass('btn-secondary')
        }
      },
    ).fail((error) => {
      alert(JSON.stringify(error))
      console.error('global setting error', error)
    })

    return false
  }

  function setUserInfo() {
    const senderId = $('#senderId').val()
    const token = $('#accessToken').val()
    let day = $('#dayBefore').val()
    if (_.isNil(day) || day === '' || Number(day) > 60) {
      day = 60
    }
    $.ajax({
      url: 'setting/global/userInfo',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({ senderId, token, day }),
      contentType: 'application/json',
    }).done((response) => {
      console.log('response', response)
      const serverStatus = response.serverStatus
      changeServerStatus(serverStatus)
    }).fail((error) => {
      alert(JSON.stringify(error))
      console.error('global user info setting error', error)
    })
  }

  function onSubmitMessageForm(buttonElem) {
    const formElem = $(buttonElem).parent('form')[0]
    console.log('formElem', formElem)
    console.log(`onSubmit : Message = ${formElem['message'].value}, Property = ${formElem['propertyValue'].value}, PropertyType = ${formElem['propertyType'].value}`)

    $.ajax({
      url: 'setting/message',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify({
        title: formElem['title'].value,
        message: formElem['message'].value,
        propertyValue: _.replace(formElem['propertyValue'].value, /\s/g, ''),
        propertyType: _.replace(formElem['propertyType'].value, /\s/g, ''),
      }),
      contentType: 'application/json',
    }).done((response) => {
      console.log('message setting don', response)
    }).fail((error) => {
      console.error('message setting error', error)
      alert(JSON.stringify(error))
    })

    return false
  }
</script>
</body>
</html>
